<ul>
<% @categories.each do |category| %>
  <li><%=link_to category.title, category_path(category) %></li>
<% end %>
</ul>

<% @items.each do |item| %>
  <p><%= item.title %> | $<%=(item.price.to_f/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<% end %>
<% if @user != nil %>
 <% if @user.current_cart != nil %>
 <%= link_to "Current Cart", cart_path(@user.current_cart) %>
 <% end %>
 <% end %>
